Weather-test.Api/bin/Debug/net8.0/Weather-test.Api.dll
Weather-test.Api/bin/Debug/net8.0/Weather-test.Api.exe
Weather-test.Api/bin/Debug/net8.0/Weather-test.Api.pdb
Weather-test.Api/obj/Debug/net8.0/apphost.exe
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.AssemblyInfo.cs
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.AssemblyInfoInputs.cache
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.csproj.FileListAbsolute.txt
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.dll
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.pdb
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.sourcelink.json
Weather-test.Api/obj/Debug/net8.0/ref/Weather-test.Api.dll
Weather-test.Api/obj/Debug/net8.0/refint/Weather-test.Api.dll
Weather-test.Api/bin/Debug/net8.0/Weather-test.Api.dll
Weather-test.Api/bin/Debug/net8.0/Weather-test.Api.exe
Weather-test.Api/bin/Debug/net8.0/Weather-test.Api.pdb
Weather-test.Api/obj/Debug/net8.0/apphost.exe
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.AssemblyInfo.cs
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.AssemblyInfoInputs.cache
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.csproj.FileListAbsolute.txt
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.dll
Weather-test.Api/obj/Debug/net8.0/Weather-test.Api.pdb
Weather-test.Api/obj/Debug/net8.0/ref/Weather-test.Api.dll
Weather-test.Api/obj/Debug/net8.0/refint/Weather-test.Api.dll
